{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Round Results
{% endblock %}

{% block content %}
  <p>You expected total amount to be contributed was {{ player.ideal }}
    {% if player.role == Constants.WEALTHY %}, of which you contributed {{ player.contribution }} from your endowment of {{ Constants.endowment }}.
    {% endif %}

  </p>

  <p>Your group contributed a total of {{ group.contribution }}.
      Your final payoff for this round is of {{ player.payoff }}.</p>
    {% next_button %}
{% endblock %}


